# Ignore specific files
.env

# Ignore workspace files and folders
.git

# Ignore IDE files and folders
.idea
.vscode

# Ignore python caches
__pycache__/

# Ignore python environments
.venv/
.conda/

# Ignore python sensitive files
*.pyo
*.pyd
*.pyi

# Ignore Executable Files
*.exe

# Ignore Containers
.devcontainer